<mat-nav-list>

  <div class="profile-card">
    <div class="header">

      <h2>Mpendulo SIbiya</h2>
      <h4>example@yahoo.com</h4>
    </div>
<img src="https://media-exp1.licdn.com/dms/image/C4D03AQHQG6l9qUq4qw/profile-displayphoto-shrink_200_200/0/1594804302245?e=1614211200&v=beta&t=m9DqI8qdRSjY7HIOKJ-wu3nPRI90zWYFy4jGowfSMh8" alt="">
  </div>

  <mat-divider></mat-divider>
  <h2 matSubheader>Pages</h2>

<a mat-list-item routerLinkActive="List-item-active" routerLink="/">Dashboard</a>
<a mat-list-item routerLinkActive="List-item-active" routerLink="/posts">Posts</a>
<a mat-list-item routerLinkActive="List-item-active" routerLink="/articles">Articles</a>


<mat-divider></mat-divider>

<h2 matSubheader>Tools</h2>

<a mat-list-item routerLinkActive="List-item-active" routerLink="/contacts">
<mat-icon>import_contacts</mat-icon>
Contacts
</a>

<a mat-list-item routerLinkActive="List-item-active" routerLink="/contacts">
  <mat-icon>contact_phone</mat-icon>
  Leads
</a>
</mat-nav-list>



